In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_excel('imat_data/label_map_228.xlsx')

In [3]:
print(df.shape)

with open('imat_data/validation.json', 'r') as f:
    validation = json.load(f)

(228, 5)

In [28]:
df.columns
df.head()

   labelId  taskId        labelName  taskName  keep
0        1       6           Argyle   pattern   0.0
1        2       9       Asymmetric     style   NaN
2        3       1   Athletic Pants  category   0.0
3        4       1    Athletic Sets  category   0.0
4        5       1  Athletic Shirts  category   0.0

In [4]:
annotations = validation['annotations']

for i in range(5):

    ann = annotations[i]
    image_id = ann['imageId']
    label = ann['labelId']
    print(f"Image ID: {image_id})\n")
    for single_label in label:
        label_name = df[df['labelId'] == int(single_label)]['labelName'].values[0]
        print(f"Label ID: {single_label}, Label Name: {label_name}")

Image ID: 1)

Label ID: 62, Label Name: Dresses
Label ID: 17, Label Name: Black
Label ID: 66, Label Name: Female
Label ID: 214, Label Name: V-Necks
Label ID: 105, Label Name: Long Sleeved
Label ID: 137, Label Name: Polyester
Label ID: 85, Label Name: Hi-Lo
Image ID: 2)

Label ID: 95, Label Name: Jumpsuits Overalls & Rompers
Label ID: 17, Label Name: Black
Label ID: 66, Label Name: Female
Label ID: 214, Label Name: V-Necks
Label ID: 164, Label Name: Short Sleeves
Label ID: 137, Label Name: Polyester
Label ID: 20, Label Name: Bodycon
Label ID: 204, Label Name: Tunic
Label ID: 184, Label Name: Summer
Image ID: 3)

Label ID: 122, Label Name: Party Dresses
Label ID: 19, Label Name: Blue
Label ID: 66, Label Name: Female
Label ID: 186, Label Name: Sweetheart Neckline
Label ID: 180, Label Name: Strapless
Label ID: 44, Label Name: Chiffon
Label ID: 154, Label Name: Ruched
Label ID: 20, Label Name: Bodycon
Image ID: 4)

Label ID: 190, Label Name: T-Shirts
Label ID: 222, Label Name: White
Label ID: 66, Label Name: Female
Label ID: 153, Label Name: Round Neck
Label ID: 164, Label Name: Short Sleeves
Label ID: 226, Label Name: Yellow
Label ID: 53, Label Name: Cotton
Label ID: 184, Label Name: Summer
Image ID: 5)

Label ID: 62, Label Name: Dresses
Label ID: 66, Label Name: Female
Label ID: 153, Label Name: Round Neck
Label ID: 171, Label Name: Sleeveless
Label ID: 111, Label Name: Multi Color
Label ID: 137, Label Name: Polyester
Label ID: 70, Label Name: Floral
Label ID: 204, Label Name: Tunic
Label ID: 184, Label Name: Summer

In [5]:
dropped_labels = df[df['keep'] == 0]['labelId'].values
print(f"\nDropped Labels: {dropped_labels}")
print(f"Total Dropped Labels: {len(dropped_labels)}")

Dropped Labels: [  1   3   4   5   6   7   9  10  11  13  16  26  27  33  34  36  37  38
  39  40  41  43  46  47  48  52  54  57  64  74  75  76  80  81  82  83
  84  85  86  87  89  90  93  94  95  96 103 104 107 108 112 116 118 119
 120 121 122 123 124 125 127 128 129 139 140 143 144 145 149 156 161 162
 163 172 174 175 176 177 178 179 186 187 188 189 191 195 198 203 204 206
 207 208 215 218 221 223 227]
Total Dropped Labels: 97

In [6]:
df_keep = df[df['keep'] != 0].copy()
print(f"Number of labels to keep: {df_keep.shape[0]}")
df_keep['labelId_new'] = range(1, df_keep.shape[0] + 1)

Number of labels to keep: 131

In [7]:
df_keep.head()

    labelId  taskId          labelName  taskName  keep  labelId_new
1         2       9         Asymmetric     style   NaN            1
7         8       1        Baggy Jeans  category   NaN            2
11       12       1  Beach & Swim Wear  category   NaN            3
13       14       2              Beige     color   NaN            4
14       15       1            Bikinis  category   NaN            5

In [9]:
df_keep.to_excel('imat_data/relabel.xlsx')